*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

img{
    width: 200px;
    height: 200px;
    padding: 5px;
}



p{
    color:gray;
}

.container{
    width: 935px;
    padding: 20px 15px;
    gap:15px;
    background-color:darkgrey;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 2px solid gray;
    text-align: center;
    padding: 5px;
    background-color: white;

}